services:
  trino-coordinator:
    image: trinodb/trino:435
    container_name: trino-coordinator
    environment:
      # Use the official Trino environment variable for catalog management
      - CATALOG_MANAGEMENT=dynamic
      # - JVM_CONFIG_EXTRAS=-Dcom.amazonaws.sdk.disableEc2Metadata=true
    ports:
      - "8080:8080"
    volumes:
      - ./trino_config/coordinator/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog
      - ./trino_config/coordinator/init.sql:/etc/trino/init.sql
      - ./trino_plugins/gravitino:/usr/lib/trino/plugin/gravitino
      # - ./trino_config/coordinator/jvm.config:/etc/trino/jvm.config

  # trino-worker-1:
  #   image: trinodb/trino:435
  #   container_name: trino-worker-1
  #   environment:
  #     - CATALOG_MANAGEMENT=dynamic
  #   volumes:
  #     - ./trino_config/worker/config.properties:/etc/trino/config.properties
  #     - ./trino_config/catalog:/etc/trino/catalog
  #     - ./trino_plugins/gravitino:/usr/lib/trino/plugin/gravitino      
  #   depends_on:
  #     - trino-coordinator

  # trino-worker-2:
  #   image: trinodb/trino:435
  #   container_name: trino-worker-2
  #   environment:
  #     - CATALOG_MANAGEMENT=dynamic
  #   volumes:
  #     - ./trino_config/worker/config.properties:/etc/trino/config.properties
  #     - ./trino_config/catalog:/etc/trino/catalog
  #     - ./trino_plugins/gravitino:/usr/lib/trino/plugin/gravitino      
  #   depends_on:
  #     - trino-coordinator